<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TotalTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C05935B521E0F60C00EEDA22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C05935CD21E0F60E00EEDA22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C05935D821E0F60E00EEDA22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
